*{
	box-sizing:border-box;
    margin: 0%;
}

.container{
    padding-left: 15%;
    padding-right: 15%;
}



.row{
	display:flex;
	flex-wrap: wrap;
}

/*  mobile 600 less then */

/*   default work on Mobile less 600 Resolution  */
[class*="col-"]{
	width:100%;
}

/*  tablet 600> */
@media only screen and (min-width: 600px) {
	.col-s-1{ width:8.33% }
	.col-s-2{ width:16.66% }
	.col-s-3{ width:25% }
	.col-s-4{ width:33.33% }
	.col-s-5{ width:41.66% }
	.col-s-6{ width:50% }
	.col-s-7{ width:58.33% }
	.col-s-8{ width:66.66% }
	.col-s-9{ width:75% }
	.col-s-10{ width:83.33% }
	.col-s-11{ width:91.66% }
	.col-s-12{ width:100% }
}

/*  desktop 768> */
@media only screen and (min-width: 768px) {
	.col-1{ width:8.33% }
	.col-2{ width:16.66% }
	.col-3{ width:25% }
	.col-4{ width:33.33% }
	.col-5{ width:41.66% }
	.col-6{ width:50% }
	.col-7{ width:58.33% }
	.col-8{ width:66.66% }
	.col-9{ width:75% }
	.col-10{ width:83.33% }
	.col-11{ width:91.66% }
	.col-12{ width:100% }
}

.navbar{
    background-color: brown;
    color: white;
}

.banner{
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    padding: 100px 100px 100px 100px;
}

.bannerbox{
    background-color: white;
    padding: 20px;
    text-align: center;
}

.bannerbox input{
    width: 80%;
    height: 40px;
    border: solid lightgray 1px;
    margin-top: 20px;
}

.subscribe{
    background-color: palevioletred;
    text-align: center;
    color: white;
    padding: 30px;
}

.subscribe button{
    background-color: palevioletred;
    color: white;
    border:solid 0.5px white;
    margin-top: 30px;
    padding: 10px 30px 10px 30px;
}

.subscribe button:hover{
    background-color: white;
    color: palevioletred;
}

.subscribe1{
	padding:5px;
}

.subscribe1_text{
	padding:20px;
}

.subscribe1 h3{
	text-transform:uppercase;
}

.subscribe1 p{
	color:LightGray;
}
.subscribe1 button{
	background-color:palevioletred;
	color:white;
	width:100%;
	border:none;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:20px;
}