*{
    box-sizing:border-box;
	margin: 0px;
}
		
.container{
	padding-left: 80px;
	padding-right: 80px;
}

.container-full{
	padding-left: 50px;
	padding-right: 50px;
}


.row{
	display:flex;
	flex-wrap: wrap;
}
		
.row1{
	display:flex;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header1{
	background-color: brown;
	color: white;
	padding: 20px;
}

.logo{
	width: 150px;
	height: 80px;
}

.nav{
	
}
.nav li{
	display: inline;
	margin-right: 20px;
}
.nav a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.banner{
	background-image: url('../images/mountain.jpg');
	background-size: cover;
	color: black;
	padding: 200px;
	text-align: center;
}

.mainside{
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.mainside a{
	text-decoration: none;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 25px;
	color: darkblue;
}


.mainbar{
	margin-top: 20px;
}

.mainbar h1{
	text-align: center;
	color: blueviolet;
	text-shadow: 2px 2px 5px ;
}

.footer{
	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
}